* {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
}

body {
  background-image: url(lime-2481346_1920.jpg);
  background-attachment: scroll;
}

.center {
  text-align: center;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #FBA100;
}

.buttons {
    font-family: 'Secular One', sans-serif;
    background-color: rgb(223, 142, 2);
    border: 0;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 20%;
}

.inicio {
  display: block;
}

.final {
  display: none;
}

input, textarea {
  background:#f0eeb1;
}











